/*
 * Default settings
 */
$form-outer-indent--top: 23px;
$form-outer-indent--bottom: 36px;
$form-outer-indent--horizontal: 42px;
$form-inner-indent: 20px;

$form-font-family: inherit;
$form-font-size: 16px;
$form-line-height: 1.2;

$form-title-font-size: $form-font-size * 1.8;
$form-title-line-height: 1.2;

$form-border-radius: 3px;


/*
 * 1. Colors
 */
$form-bg-color: #fff;
$form-border-color: rgba(#212121, 0.25);


.form {
  width: 360px;
  padding: $form-outer-indent--top $form-outer-indent--horizontal $form-outer-indent--bottom;
  background-color: $form-bg-color;
  border: 1px solid $form-border-color;
  border-radius: $form-border-radius;

  &__title {
    margin: 0 0 $form-inner-indent;
    font-size: $form-title-font-size;
    line-height: $form-title-line-height;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__field {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 100%;
    margin-bottom: $form-inner-indent;
  }
}
