/*
 * Default settings
 */
$option-list-border-radius: 3px;
$option-list-vertical-start-position: 45px;

$transition-time: 0.1s;
$transition-function: cubic-bezier(0.645, 0.045, 0.355, 1);


/*
 * 1. Colors
 */

/* 1.1 Option List*/
$option-list-border-color: rgba(#212121, 0.25);


.options {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid $option-list-border-color;
  border-top: none;
  border-bottom-left-radius: $option-list-border-radius;
  border-bottom-right-radius: $option-list-border-radius;
}

.select__list {
  position: absolute;
  top: $option-list-vertical-start-position;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  transition: top 0.2s $transition-function, opacity $transition-time $transition-function;
}
