/*
 * Default settings
 */
$padding-vertical: 13px;
$padding-horizontal: 13px;

$font-family: inherit;
$font-size: 16px;
$line-height: 1;

$border-radius: 3px;

$transition-time: 0.15s;
$transition-function: cubic-bezier(0.645, 0.045, 0.355, 1);


/*
 * 1. Colors
 */
$text-color: rgba(#212121, 0.85);
$bg-color: #fff;
$border-color: rgba(#212121, 0.5);

$text-color--hover: rgba(#212121, 1);
$border-color--hover: rgba(#212121, 0.75);

$text-color--disabled: rgba(#212121, 0.25);
$bg-color--disabled: rgba(#212121, 0.025);
$border-color--disabled: rgba(#212121, 0.1);

$outline-custom-color: #2962ff;


.btn-close {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
  align-items: center;
  max-width: 100%;
  margin: 0;
  padding: $padding-vertical $padding-horizontal;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  text-align: center;
  text-transform: none;
  color: $text-color;
  background-color: $bg-color;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  transition: color $transition-time $transition-function, background-color $transition-time $transition-function, border-color $transition-time $transition-function;
  overflow: hidden;
  cursor: pointer;
  user-select: none;

  &__icon {
    opacity: 0.7;
    transition: opacity $transition-time $transition-function;
  }

  &__text {
    margin-left: $padding-horizontal / 2;
  }

  &:hover,
  &:focus {
    color: $text-color--hover;
    border-color: $border-color--hover;

    .btn-close__icon {
      opacity: 1;
    }
  }

  &:active,
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba($outline-custom-color, 0.25);
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    color: $text-color--disabled;
    background-color: $bg-color--disabled;
    border-color: $border-color--disabled;
    cursor: not-allowed;

    .btn-close__icon {
      opacity: 0.25;
    }
  }

  &--reverse {
    .btn-close__text {
      order: -1;
      margin-right: $padding-horizontal / 2;
      margin-left: 0;
    }
  }
}
